<div class="container">
    <div class="row">
      <div class="col-lg-6">List of Books</div>
      <div class="col-lg-6 text-right">
        <a class="btn btn-primary" href="">Add Book</a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <td>{{ book.book_id }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.price }}</td>
              <td>
                <a href="" class="btn btn-primary">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  